body {
	margin: 0;
	font-size: 14px;
}

img {
	height: 600px;
	width: 100%;
}

.slideshow {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

.prev, .next {
	position: absolute;
	top: 50%;
	cursor: pointer;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.dots {
	text-align: center;
}

.prev {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.next {
	left: 0;
	border-radius: 3px 0 0 3px;
}

.dot {
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.dot:hover {
	background-color: #717171
}

.active {
	background-color: #717171
}

.numbertext {
	position: absolute;
	color: white;
}